.col {
}

.h1, h1, p {
  text-align: center;
  color: white;
  font-family: monospace;
}

body {
  background-color: #2b0c56;
}

.row {
  height: 100vh;
  align-content: center;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

li {
  color: white;
  font-family: monospace;
  font-size: large;
}

body {
}

.noselect {
  user-select: none;
}

